.scratchpad {
    padding: 0 5px;
}

.scratchpad .item-row {
    align-items: center;
}

.scratchpad .item-delete {
    padding: 5px;
}

.scratchpad .item-name {
    padding-right: 5px;
}

.scratchpad .item-name input {
    height: 26px;
}

.scratchpad .item-type-select {
    flex: 0 0 120px !important;
}

.scratchpad .description-container {
    padding-left: 35px;
}

.scratchpad textarea {
    font-family: "Signika", serif;
    font-size: 13px;
    border: 1px solid #c9c7b8;
    resize: none;
}